{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {% include 'bootstrap.html' %}
    <link  href="{% static '/admin/css/stylesheet.css' %}" rel="stylesheet">

</head>
<body>
    {% include 'navbar.html' %}
    <div class="header">{{header}}</div>
    <form method='POST' action=''>{% csrf_token %}
        {{form|crispy}}
            <input type="submit" value="Search"/>
    </form>
    <br>
   <div class="display_table">
    <table class='table'>
        <thead>
          <tr>
            <th>COUNT</th>
            <th>CATEGORY</th>
            <th>ITEM NAME</th>
            <th>QUANTITY IN STORE</th>
          </tr>
        </thead>
      {% for instance in queryset %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{instance.category}}</td>
            <td><a href="{% url 'update_items' instance.id %}">{{instance.item_name}}</td>
            <td>{{instance.quantity}}</td>
            <td><a href="{% url 'delete_items' instance.id %}">
              <button class="btn btn-primary"> Delete</button></a></td>
          </tr>
      {% endfor %}
    </table>
   </div>
</body>
</html>